:root {
  /* 
          COLOR SWATCHES
    */
  --swatch-foundation: #ffffff;
  --swatch-primary: #5EB120;
  --swatch-complement: #D9D9D9;
  --swatch-contrast: #000000;
  --swatch-accent: #569F1D;
  --swatch-status: #FF0000;
  /* --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15); */
}

body {
  font-family: "Work Sans";
  background-color: var(--swatch-foundation);
}

#editParent {
  width: 100%;
  height: 93%;
  display: flex;
  align-items: top;
  justify-content: left;
  flex-direction: row;
}

.editShelf {
  flex-grow: 1;
  background-color: #333;
  color: #fff;
  font-weight: 200;
  flex-direction: column;
  max-width: 15%;
}

#midPar {
  flex-grow: 2;
}

.traySect {
  flex-direction: column;
  flex-wrap: wrap;
}

#displayMenu {
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
}

.sliderLabel {
  left: 10%;
}

#exampleView {
  width: 100%;
  height: 100%;
}

#bannerStatus {
  font-family: var(--my-font-family)
}

#root {
  background-color: var(--swatch-foundation);
  font-family: "Work Sans";
  position: absolute;
  width: 98%;
  /* left: 0%; */
  height: 98%;
  /* top: 0.5%; */
}

#youtube_test_player {
  border: solid 4px #37474F
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#top5-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  float: left;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

#appBanner{
  color: var(--swatch-complement);
}

#splash-screen {
  color: var(--swatch-foundation);
  text-align: center;
  vertical-align: center;
}

#splashT {
  display: flex;
  color: var(--swatch-primary);
  font-size: 5vw;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  align-items: center;
  justify-content: center;
}

#splashL {
  font-size: 3vw;
}

#splashD {
  font-size: 3vw;
  color: var(--swatch-primary);
}

#splashC {
  font-size: 1vw;
  color: var(--swatch-contrast);
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

#appBannerLogo{
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
}

#appBannerLogo:hover{
  cursor: default;
}

#edit-toolbar {
  background-color: transparent;
  float: right;
}

.top5-button,
.top5-button-disabled {
  font-size: 36pt;
  border-width: 0px;
  float: left;
  color: black;
  cursor: pointer;
  opacity: 100%;
}

.top5-button:hover {
  cursor: pointer;
  color: black;
}

.top5-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

#top5-list-selector {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-primary);
}

#top5-workspace {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 100%;
  height: 80%;
  background-color: var(--swatch-accent);
}

#top5-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#list-selector-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 10%;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-list-button {
  float: left;
}

#browseScreenSortHeader{
  display: flex;
  align-items: center;
}

#list-selector-list {
  position: absolute;
  left: 0%;
  top: 10%;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

#list-inspector {
  position: absolute;
  left: 60%;
  top: 10%;
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.list-card,
.selected-list-card,
.unselected-list-card {
  font-size: 18pt;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
}

.list-card:aria-disabled,
.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: white;
}

.selected-list-card {
  background-color: yellow;
  color: black;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
}

.list-card-button {
  float: right;
  transform: scale(2);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

.item-number,
.top5-item,
.top5-item-dragged-to {
  display: flex;
  align-items: center;
  font-size: 48pt;
  height: 20%;
}

.item-number {
  justify-content: center;
  width: 100%;
  border: 1px 0px 1px 1px;
  border-color: black;
  background-color: linen;
  color: black;
}

input {
  font-size: 20pt;
}

.top5-item,
.top5-item-dragged-to {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}

.top5-item {
  background-color: var(--swatch-complement);
}

.top5-item-dragged-to {
  background-color: var(--swatch-accent);
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);

}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  background: var(--swatch-complement);
  overflow: auto;
  cursor: default;
  border-width: 5px;
  border-radius: 10px;
  border-style: groove;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: dotted;
}

.modal-header,
.modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-control {
  cursor: pointer;
  width: 20%;
}

.dialog-header {
  font-size: 24pt;
}

#close-modal-button {
  float: right;
}

#confirm-cancel-container {
  text-align: center;
} */

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* [data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
} */